.review{
    display: block;
    width: 100%;
    border: 1px solid #DDDDDD;
    font-size: 14px;
}
.opinions{
    font-family: PingFangSC-Medium;
    margin-bottom: 24px;
}
.opinion-title{
    height: 60px;
    border-bottom: 1px solid #DDDDDD;
    line-height: 60px;
    position: relative;
}

.opinion-title strong{
    position: absolute;
    left: 0;
    top: 23px;
    width: 5px;
    height: 14px;
    background: #67649F;
}
.opinion-title span{
    padding-left: 11px;
    font-size: 16px;
    color: #444444;
    letter-spacing: 0;
}
/* ------------------------------------------------------------ */

.opinion-information{
    padding: 30px;
	background: #ffffff;
}
.opinion-information .information{
    height: 124px;
    border-radius: 4px;
    position: relative;
}
.information .texts{
    width: 100%;
    height: 100%;
    background: #F9F9F9;
    color: #999999;
    padding: 10px;
    padding-left: 0;
    margin-bottom: 10px;
    box-sizing: border-box; 
}
.information .count{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #cccccc;
}

/* ------------------------------------- */

.options button{
    display: inline-block;
    width: 120px;
    height: 36px;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    color:#67649F;
    border: 1px solid #67649F;
    margin-top: 20px;
}

.options button.active{
    background: #67649F;
    color: #ffffff;
}

.options button.conditions{
    opacity: 0.5;
    background: #67649F;
    color: #ffffff;
}

/* ------------------------------- */
.professional-opinion .opinion-information{
    padding: 30px;
    padding-left: 33px
}
.professional-opinion .information-box{
    display: inline-block;
    width: 48%;
}
.professional-opinion .information-box:nth-of-type(2n+1){
    margin-right: 2%;
}
.professional-opinion .information-title{
    padding-bottom: 10px;
}
.professional-opinion .options{
    border-top: 1px solid #DDDDDD;
}
/* ----------------------------------------- */
.picture-box .box{
    padding-bottom: 20px;
}
.picture-box .fileItem{
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 5px;
    vertical-align:top;
    position: relative;
    margin: 10px 10px 0 0 ;
    overflow: hidden;
}
.picture-box .fileItem .status{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 20px;
    line-height: 20px;
    background: rgba(0,0,0,.5);
    color: #ffffff;
    font-size: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    cursor: pointer;
}
.picture-box .fileItem .imgShow{
    width: 60px;
    height: 60px;
}

.picture-box .fileItem .imgShow img{
    width: 100%;
    height: 100%;
}

.picture-box .uploadBts{
    display: inline-block;
}
.picture-box .uploadBts .selectFileBt{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 10px 10px 0 0 ;
    overflow: hidden;
}
.picture-box .uploadBts .selectFileBt img{
    width: 100%;
    height: 100%;
}

.fileItem input{
    position: absolute;
    width: 60px;
    height: 60px;
    background:url(../images/pic2.png) no-repeat;
    background-size: 100% 100%;
    z-index: 99;
    border: none;
    outline: none;
    opacity: 0;
}
.fileItem img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
}
/* ---------------------------------- */
.mark{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 2000px; */
    background: rgba(0,0,0,.5);
    z-index: 99;
}
.mark-information{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 449px;
    height: 232px;
    margin-left: -224px;
    margin-top: -116px;
    background: #ffffff;
}
.mark-information .mark-message{
	font-size: 20px;
	margin-top: 53px;
	text-align: center;
	height: 40px;
    line-height:40px;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #000000;
}
.mark-message img{
    width: 40px;
    height:40px;
    margin-right: 10px;
}
.mark .close{
	position: absolute;
	bottom: 53px;
	left: 50%;
	margin-left: -100px;
    width: 200px;
    height: 40px;
    background: #67649F;
    color: #ffffff;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

body {
    font-family: PingFangSC-Medium;
}

.record {
    background-color: #fff;
}
.record-name {
    height: 60px;
    line-height: 60px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;

}
.record-name .name-title {
    font-size: 16px;
    color: #444444;
    letter-spacing: 0;
    line-height: 16px;
    display: inline-block;
    padding-left: 7px;
    border-left: 5px solid #67649F;
}
.record-body {
    padding: 20px 10px 20px 40px;
    height: 600px;
    overflow: hidden;

}



/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
    list-style: none;
    margin: 50px 20px 30px 20px;
    padding-left: 30px;
    border-left: 2px solid #ddd;
}
#timeline li {
    position: relative;
    border-bottom: 1px solid #ddd;
}
#timeline li:last-child{
    border-bottom: none;
}
#timeline p {
    margin: 0 0 15px;
}
.work .date {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    line-height: 16px;
}
.work .circle {
    position: absolute;
    margin-top: -10px;
    top: 27px;
    left: -36px;
    width: 10px;
    height: 10px;
    background: #48b379;
    border: 5px solid #ddd;
    border-radius: 50%;
    display: block;

}

.content-time {
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}
.content-time:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}
.content-time:after {
    border-right-color: #48b379;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}
.content-time p {
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
    display: -webkit-box;
}

.label {
    transition: transform 0.2s linear;
    font-size: 16px;
    color: #444444;
    letter-spacing: 0;
    line-height: 16px;
    padding-top: 15px;
}

.radio:checked + .relative .circle {
    background: #f98262;
}
.radio:checked ~ .content-time {
    max-height: 180px;
    /*border-color: #eee9dc;*/
    margin-right: 20px;
    /*transform: translateX(20px);*/
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content-time p {
    max-height: 200px;
    transition: color 0.3s linear 0.3s;
}
.content-time-box {
    /*padding-bottom: 15px;*/
}
.content-time-title {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 30px;

}
.content-time-content {
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
    padding-bottom: 15px;
}
.all{display:none;}
.more{
    font-size: 14px;
    color: #398DF3;
    letter-spacing: 0;
    line-height: 14px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {
    background: #67649F;
    border-radius: 2px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    background: -webkit-gradient(linear,left);
}

::-webkit-scrollbar-track-piece {
    background: #FFF;
}