.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}
.clearfix {
    *zoom: 1
}
.top img{
    padding-left: 20px;
    padding-top: 10px;
}
.ServiceBox-Item{
    background: #fff;
    margin-bottom: 24px;
}
.ServiceBox-Item .ServiceBox-ItemTitle{
    height: 60px;
    font-size: 16px;
    color: #444444;
    letter-spacing: 0;
    line-height: 60px;
    border-bottom: solid 1px #DDDDDD;
    position: relative;
    padding-left: 11px;
}
.ServiceBox-Item h6:after{
    content: '';
    background: #67649F;
    width: 5px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
}
.ServiceBox-ItemData{
    padding: 36px 40px 9px 40px;
}
.ServiceBox-ItemData ul{
    font-size: 0;
}
.ServiceBox-ItemData ul li{
    display: inline-block;
    width: 33.33333333%;
    margin-bottom: 20px;
}
.ServiceBox-ItemData ul li h5+p{
    display: inline-block;
}
.ServiceBox-ItemData ul li h5{
    /*display: inline-block;
    width: 56px;*/
    float: left;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 14px;
    margin-right: 20px;
    font-weight: normal;
}
.ServiceBox-ItemData ul li p{
    float: left;
    font-size: 14px;
    color: #444444;
    letter-spacing: 0;
    line-height: 14px;
}
.ServiceBox-bom{
    height: 60px;
    background: #fff;
    font-size: 14px;
    color: #398DF3;
    letter-spacing: 0;
    line-height: 60px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}
.ServiceBox-bom img{
    width: 6px;
    margin-top: -2px;
    margin-left: 8px;
}




/*审批信息*/
.ExamineInfo{
    background: #fff;
    border-bottom: solid 1px #D8D8D8;
    padding: 29px 60px 35px 60px;
}
.ExamineInfo ul{
    margin-left: 50px;
}
.ExamineInfo ul li{
    float: left;approval.js
    background: rgba(238,238,238,0.60);
    border: 2px solid #9B9B9B;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    max-height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 64px;
    position: relative;
    color: #9B9B9B;
}
.ExamineInfo ul li:after{
    content: '';
    width: 60px;
    border: dashed 2px #D8D8D8;
    position: absolute;
    left: 58px;
}
.ExamineInfo ul li:last-child:after{
    content: '';
    width: 0;
    border: none;
}
.ExamineInfo ul li:last-child{
    margin-right: 0;
}
.ExamineInfo ul li p{
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
}
.ExamineInfo ul li.active{
    background: rgba(103,100,159,0.60);
    color: #fff;
    border: 2px solid #67649F;
}
.ExamineInfo ul li.active:after{
    border: 2px solid #67649F;
}
.ExamineInfo ul li.active1{
    background: rgba(238,238,238,0.60);
    color: #9B9B9B;
    border: 2px solid #9B9B9B;
}
.ExamineInfo ul li:after:not(last-child){
    border: 2px dashed #67649F;
}
.ExamineInfo ul li.active2{
    background: #67649F;
    color: #fff;
    border: 2px solid #67649F;
}
.ExamineInfo ul li.active2:after{
    border: 2px dashed #D8D8D8;
}

.MainTableCont {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 20px 50px 30px 50px;
}

table.gridTable {
	width: 76%;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-collapse: collapse;
    border-radius: 6px;
}

table.gridTable th {
    padding: 13px;
    font-size: 13px;
    color: #67649F;
    letter-spacing: 0;
    line-height: 14px;
    table-layout: fixed;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
    background: #E2E2ED;
}
table.gridTable th:first-child{
    border-top-left-radius: 6px;
}
table.gridTable th:last-child{
    border-top-right-radius: 6px;
}

table.gridTable td {
    padding: 14px;
    border: solid 1px #DDDDDD;
    text-align: left;
    font-size: 13px;
    color: #666666;
    letter-spacing: 0;
    line-height: 14px;
    position: relative;
}
table.gridTable tr td:last-child{
     color: #9B9B9B;
     min-width: 55px;
}
table.gridTable tr:last-child{
    border-bottom-left-radius: 6px;
}
table.gridTable tr:last-child{
    border-bottom-right-radius: 6px;
}

.tip {
	display: none;
    position: absolute;
    top: -152px;
    left: -94px;
    width: 340px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
}
.tip .saojiao {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -57px;
    display: block;
    width:0;
    height:0;
    border: 10px #fff solid;
    border-color: #ff6e26 transparent transparent  transparent;
}
.tip ul li {
    display: flex;
    justify-content: space-between;
    line-height: 37px;
    padding: 0 20px;
}
.tip ul li span:nth-child(1){
    font-size: 14px;
    color: #999999;
}
.tip ul li span:nth-child(2){
    font-size: 14px;
    color: #4A4A4A;
}
.cont-title {
	width: 100%;
	font-family: PingFangSC-Medium;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
	line-height: 14px;
}
.cont-title .tab-title {
	width: 76%;
	float: left;
}
.cont-title .tab-title a {
	color: #398DF3;
}
.cont-title .list-title {
	width: 24%;
	float: right;
	padding-left: 40px;
}
.gridTable {
	width: 70%;
	float: left;
}
.list-content {
	width: 20%;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 18px 0 23px 0;
}
.list-content ul li {
	line-height: 30px;
}
.list-content ul li span:nth-child(1){
	display: inline-block;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #666666;
	margin-left: 15px;
}
.list-content ul li span:nth-child(2){
	display: inline-block;
	font-family: PingFangSC-Regular;
	font-size: 13px;	
	color: #9B9B9B;
	padding:0 10px;
}
.list-content ul li .li_item{
	display: inline-block;
	font-family: PingFangSC-Regular;
	font-size: 13px;
}
.list-content ul li .li_item.active{
	color: #36B194 !important;
}
.list-content ul li .li_item.active1{
	color: red !important;
}
.list-content ul li .li_item.active2{
	color: #398DF3 !important;
}
.list-content div span {
	display: inline-block;
	color: #666666;
	font-size: 13px;
}
.list-content div span:nth-child(1){
	margin-left: 15px;
}
.list-content div span:nth-child(2){
	color: #398DF3;
	float: right;
	margin-right: 30px;
}
.list-content #tiaoguo span:nth-child(1) {
    margin-left: 15px;
}
.list-content #tiaoguo span:nth-child(2) {
    color: #398DF3;
	float: right;
	margin-right: 30px;
}
/*审批信息*/