.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}
.clearfix {
    *zoom: 1
}
.top img{
    padding-left: 20px;
    padding-top: 10px;
}
.Section{
    padding-bottom: 20px;
}
.ServiceBox-Item{
    background: #fff;
    margin-bottom: 24px;
}
.ServiceBox-Item:last-child{
    margin-bottom: 0;
}
.ServiceBox-Item .ServiceBox-ItemTitle{
    height: 60px;
    font-size: 16px;
    color: #444444;
    letter-spacing: 0;
    line-height: 60px;
    border-bottom: solid 1px #DDDDDD;
    position: relative;
    padding-left: 11px;
}
.ServiceBox-Item .ServiceBox-ItemTitle:after{
    content: '';
    background: #67649F;
    width: 5px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
}

.SmartBox{
    background: #fff;
}
.SmartBoxItem{
    margin-left: 40px;
    border-bottom: 1px solid #DDDDDD;
}
.SmartBoxItem:last-child{
    border-bottom: none;
}
.SmartBoxItem-cont{
    padding: 20px 30px 20px 0;
}
.SmartBoxItem-cont h6{
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 14px;
    float: left;
    width: 105px;
    max-width: 105px;
    margin-right: 52px;
    font-weight: normal;
}
.SmartBoxItem-cont .SmartBoxItem-contRight{
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 21px;
    float: left;
    width: 86%;
    max-width: 1080px;
}

.SmartBoxItem-contRight p{
    font-size: 14px;
    color: #999999;
    line-height: 14px;
}
.SmartBoxItem-contRight p:first-child{
    margin-bottom: 12px;
}
.SmartBoxItem-contRight span{
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 20px;
	max-width: 55%;
}
.LightBox-leftCont span{
	max-width: 50%;
}
.SmartBoxItem-contRightWidth .LightBox-leftCont span{
    max-width: 56%;
}
.SmartBoxItem-contRightWidth .LightBox-leftCont p{
	width: 114px;
}


.SmartBoxItemWidth .LightBox-leftCont p{
	width: 160px;
}
.SmartBoxItemWidth2 .LightBox-leftCont p{
	width: 170px;
}
.LightBox-leftWidth p{
	width: 170px;	
}
.LightBox-rightWidth p{
	width: 215px;	
}
.LightBox-leftWidth2 p{
	width: 126px;
}
.LightBox-leftCont3 p{
	width: 118px;
}

/*.LightBox-left{
    margin-right: 180px;
}*/
.LightBox-left , .LightBox-right{
    float: left;
    width: 49%;
}
.LightBox-left{
	margin-right:  20px;
}

.LightBox-leftCont p{
    float: left;
    margin-right: 100px;
}
.LightBox-leftCont span{
    float: left;
}

.firstBtm{
    margin-bottom: 10px;
}

.LightLeft{
    float: left;
    width: 130px;
    margin-right: 86px;
}
.LightLeft h5{
    font-size: 14px;
    color: #999999;
    line-height: 14px;
    font-weight: normal;
}
.LightRight{
    float: left;
    width: 75%;
    font-size: 14px;
    color: #666666;
    letter-spacing: -0.2px;
    line-height: 21px;
}

.map-box {
    width: 660px;
}

.box-items {
    width: 219px;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #EEEEEE;
    overflow: hidden;
}

.box-items span {
    display: inline-block;
    width: 107px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #444444;
    cursor: pointer;
}

.box-items span.active {
    background: #DDDDDD;
}

.map-pictures , .map-pictures2 {
    width: 660px;
    height: 371.3px;
    overflow: hidden;
    position: relative;
}
.map-pictures .pic-container , .map-pictures2 .pic-container2{
    width: 660px;
    height: 371.3px;
    overflow: hidden;
    position: relative;
}
.map-pictures .pictures , .map-pictures2 .pictures2 {
	display:none;
    position: absolute;
    left: 0;
    height: 371.3px;
    width: 660px;
}

.map-pictures .pictures li , .map-pictures2 .pictures2 li {
    width: 660px;
    height: 371.3px;
    float: left;
}

.pictures li img , .pictures2 li img{
    width: 100%;
    height: 100%;
}

.map-pictures .btn , .map-pictures2 .btn{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    color: #fff;
    line-height: 60px;
    font-size: 36px;
    text-align: center;
    opacity: 0.3;
    background: #000000;
    z-index: 99;
    cursor: pointer;
    display: none;
}

.map-pictures .btn-prev , .map-pictures2 .btn-prev2{
    left: 0;
}

.map-pictures .btn-next , .map-pictures2 .btn-next2{
    right: 0;
}
.item-information , .item-information2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 660px;
    height: 99px;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.5;
    background: #000000;
    z-index: 99;
    display: none;
    overflow-y: scroll;
}



