/***********header*************/
body {
	background: #F9F9F9;
}
header {
	width: 100%;
}
.top {
	width: 100%;
	height: 60px;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
	margin-bottom: 20px;
}
.headerName {
	height: 50px;
	background: #67649F;
	margin: 0 20px;
	font-family: PingFangSC-Medium;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 50px;
	text-align: center;
}
.itemName {
	background: #F9F9F9;
	border: 1px solid #DDDDDD;
	margin: 0 20px;
}
.title {
	margin-left: 30px;
	margin-top: 24px;
}
.itemName .title span {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
	margin-right: 30px;
	line-height: 14px;
	height: 30px;
	border-radius: 2px 2px 2px 2px;
}
.itemName .title span.active{
	color: #67649F;
	letter-spacing: 0;
	border-bottom: solid 4px #67649F;
	display: inline-block;
}
.content {
	border-top: 1px solid #DDDDDD;
}
.content div.item:nth-child(1){
	display: block;
}
.content .item {
	display: none;
	background: #F9F9F9;
}

